{% extends "base.html" %}
{% load cache %}
{% block title %}Главная{% endblock %}
{% block heading %}Главная{% endblock %}

{% block head %}
    <script src="https://api-maps.yandex.ru/2.1/?apikey={{ yandex_map_api_key }}&lang=ru-RU" type="text/javascript"></script>

    <style>
        .ymaps-2-1-79-copyright, .ymaps-2-1-79-map-copyrights-promo {
            display: none !important;
        }
    </style>
{% endblock %}

{% block bc %}
    <li class="breadcrumb-item"><a href="/">MedGIS</a></li>
    <li class="breadcrumb-item active">Главная</li>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 offset-lg-1">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">ГИС</h5>

                        <div id="map" style="width: 100%; height: 600px"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->

    <script type="text/javascript">
        ymaps.ready(init);

        function init() {
            var myMap = new ymaps.Map("map", {
                // Default order: “latitude, longitude”.
                center: [43.235463, 76.894727],
                zoom: 12,
                controls: ['fullscreenControl', 'zoomControl']
            });

            var myPlacemark = new ymaps.Placemark([43.235463, 76.894727], {
                balloonContentHeader: 'A long time ago',
                balloonContentBody: 'In a galaxy<br><table style="border: 1px black solid"><tr style="border: 1px black solid"><td>HELLO!!</td></tr><tr><td>HELLO!!</td></tr><tr><td>HELLO!!</td></tr></table>',
                balloonContentFooter: 'Far, Far Away...',
                hintContent: 'May the Force be with you!'
            });

            myMap.geoObjects.add(myPlacemark);
        }
    </script>
{% endblock %}
